<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title><%= gameName %></title>

    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div id="<%= _.dasherize(gameName) %>" class="game"></div>

    <!-- build:remove -->
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- /build -->

    <!-- build:js all.min.js -->
    <script src="vendor/phaser-official/build/phaser.js"></script>
    <script src="main.js"></script>
    <!-- /build -->

    <script>
      window.onload = function() {
        new <%= _.classify(gameName) %>.Game();
      };
    </script>

</body>
</html>